body {
    background-color: bisque;
}



/* Navigation bar styles ============= */
#mainNav {
    border-color: rgba(34, 34, 34, 0.05);
    background-color:#CD72A5;
    transition: all .35s;
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 200;
    letter-spacing: 1px;
    padding: 0%;
  } 
  
  #mainNav .navbar-brand {
    color: #fcbd20;
    font-family: 'Tangerine', serif;
    font-size: 38px;
    text-shadow: 4px 4px 4px rgb(28, 0, 0);
    font-weight: 200;
    letter-spacing: 5px;
  }
  
  #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
    color: #fcbd20;
  }
  
  #mainNav .navbar-toggler {
    font-size: 12px;
    padding: 8px 10px;
    color: #222222;
  }
  
  #mainNav .navbar-nav > li > a {
    font-size: 14px;
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  #mainNav .navbar-nav > li > a.active {
    color: #fdcc52 !important;
    background-color: transparent;
  }
  
  #mainNav .navbar-nav > li > a.active:hover {
    background-color: transparent;
  }
  
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: #222222;
  }
  
  #mainNav .navbar-nav > li > a:hover,
  #mainNav .navbar-nav > li > a:focus:hover {
    color: #fdcc52;
  }